[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "VIC5"]
	path = VIC5
	url = https://github.com/cug-hydro/vic5.r
	shallow = true
	registered = true
